/* Box-Model Using Display Grid Property */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.grid-container {
  background-color: aqua;
}

.grid-item {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 2fr));
}

.box {
  height: 15rem;
  width: 15rem;
  margin: 1rem;
  background-color: yellow;
}
